body {
  height: 100vh;
  width: 1200px;
  background-color: #5a5a5a;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  font-family: "Quicksand", sans-serif;
}

.text-body {
  background-color: #fff;
  padding: 32px 48px;
  border-radius: 3px;
  max-width: 500px;
  min-height: 350px;
}

button {
  padding: 8px 16px;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 2px #fff;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

.joke {
  letter-spacing: 1px;
  line-height: 1.7;
  font-size: 28px;
}
